<section class="content" id="about">
    <div class="block-content"> <!-- Ingles -->
        <h3 class="block-title">Idiomas</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let idio of cv.idioma"> 
                          <div class="exp">
                              <div class="hgroup">
                                <h4><span>{{ idio.descripcion }}</span></h4>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Profesional</h3>
        <div *ngFor="let profex of cv.profesional">
          <label class="progress-bar-label">{{ profex.nombre }}</label>
          <div class="progress">
              <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                  <span>{{ profex.valor }}%</span>
              </div>
          </div>
        </div>
    </div>
    <div class="block-content"> <!-- Experiencia -->
        <h3 class="block-title">Experiencia</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let expex of cv.experiencia">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>{{ expex.Empresa }}</span></h4>
                                  <h5> {{ expex.Fecha }} </h5>
                              </div>
                              <p>{{ expex.Descripcion }}</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content"> <!-- Educacion -->
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div *ngFor="let edux of cv.educacion">
                        <div class="exp">
                            <div class="hgroup">
                                <h4>{{ edux.Nombre }} | <a href="{{ edux.URL }}" target="\_blank"><span>Ver Certificado</span></a></h4>
                                <h5>{{ edux.Fecha }}</h5>
                            </div>
                            <p>{{ edux.Descripcion }}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content"> <!-- Cursos realizados -->
        <h3 class="block-title">Cursos realizados</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let cur of cv.cursos">
                          <div class="exp">
                              <div class="hgroup">
                                <h4><span>{{ cur.nombre }}</span></h4>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
